$global-font:'Open Sans', sans-serif;
$heading-font:'Open Sans', sans-serif;
$subheading-font:'Open Sans', sans-serif;
$color-glogal-font:$gray-700;
$bg-app:white;
//path to assets
$assets:'../';

//Global size font
$font-size-global:16;
